<FORM method="POST" action="#">
    <div class="input-group px-2 mb-3">
        <span class="input-group-text" id="nom">
            <i class="fa fa-user"></i>
        </span>
        <input type="text" name="nom" class="form-control" aria-describedby="nom" required>
    </div>
    <div class="input-group px-2 mb-3">
        <span class="input-group-text" id="email">
            <i class="fa fa-at"></i>
        </span>
        <input type="text" name="email" class="form-control" aria-describedby="email" required>
    </div>
    <div class="input-group px-2 mb-3">
        <span class="input-group-text" id="sujet">
            À  propos de :
        </span>
        <input type="text" name="sujet" class="form-control" aria-describedby="sujet" required>
    </div>
    <div class="input-group px-2 mb-3">
        <textarea name="message" cols=100 rows=5 class="form-control" required></textarea>   
    </div>
    <div class="input-group px-2 mb-3">
        <INPUT type="submit" value="Envoyer" name="envoyer" class="btn col-12 bg-yellow">
    </div>
</FORM>

