{% extends 'BaseTemplate.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% include "include/nav-internaute.html" %}   
{% endblock %}
{% block header %}
    <div class="container ">
        <div class="text-center my-5 ">
            <p class="lead mb-0">Réinitialiser le mot de passe</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 mt-4">
            <div class="ms-3 mb-3">
                <a href="homePageUser.php">
                    <i class="fa-solid fa-arrow-left"></i>
                    Retour à l'accueil
                </a>
            </div>
            <div class="ms-3">
            {% include "include/horloge.html" %}
            </div>
        </div>
        <div class="col-lg-8 mt-4 mb-2">
            <div class="card ms-2 me-3 bg-light border-0">
                <form action="" method="post">
                    <h4 class="h3 mb3 font-weight-normal" style="text-align:center;">
                        Nouveau mot de passe
                    </h4>
                    <input type="password" id="inputChangePassword" name="user-ChangePassword" class="form-control w-100 mb-2" placeholder="Entrez votre nouveau mot de passe" required="" autofocus="">
                    <input type="password" id="inputChangePasswordConfirm" name="user-ChangePasswordConfirm" class="form-control mt-1 w-100" placeholder="Confirmer le nouveau mot de passe" required="">
                    <div class="d-grip">
                            <input class="btn bg-yellow w-100 mt-2" type="submit" name="btn_user_ChangePassword" value="Changer le mot de passe">
                    </div> 
                </form>
                {{ message }}
            </div>
        </div>   
    </div>   
    

{% endblock %}