{% extends 'BaseTemplate.html.twig' %}

{% block title %}Me contacter - PHP Blog{% endblock %}
{% block head %} {{ parent() }} {% endblock %}
{% block nav %}
    {% include "include/nav-internaute.html" %}
{% endblock %}
{% block header %}
    <div class="text-center text-white h3">
        Formulaire de contact
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-4 mt-2">
            <div class="card mt-3 text-center border-0 mb-2">
                <a href="index.php">
                    <i class="fa-solid fa-arrow-left"></i>
                    Retour à l'accueil
                </a>
            </div>
            <div class="row ms-1 border-0">
                {% include "include/horloge.html" %}
            </div>
        </div>
        <div class="col-8 mt-2">
            <div class="row me-2">
                <div class="card mb-5 py-2 border-0">
                    {% include "formulaire/contact.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
