{% extends 'BaseTemplate.html.twig' %}

{% block title %}Blog - PHP Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% include "include/nav-internaute.html" %}   
{% endblock %}
{% block header %}
    <div class="text-center my-5">
        <h1 class="fw-bolder"> Blog </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 mt-4">
            <div class="ms-3 mb-3">
            {% include "include/horloge.html" %}
            </div>
            <div class="ms-3 mb-3">
                {# {% include "include/categories.html" %} #}
                {# <div class="card mb-4">
                    <div class="card-header">Catégories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <select name="" id="filter-post" class="form-control">
                                    <option value="">Tous</option>
                                    <option class="btn-value" value="0" id="0" name="filterType" onclick="filterPost(0)">Web Design</option>
                                    <option class="btn-value" value="1" id="1" name="filterType" onclick="filterPost(1)">HTML</option>
                                    <option class="btn-value" value="2" id="2" name="filterType" onclick="filterPost(2)">Javascript</option>
                                    <option class="btn-value" value="3" id="3" name="filterType" onclick="filterPost(3)">CSS</option>
                                    <option class="btn-value" value="4" id="4" name="filterType" onclick="filterPost(4)">PHP</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> #}
            </div>
        </div>
        <div class="col-lg-8 mt-4">
            <div class="row me-3">
                {% include "internaute/blog.html" %}   
            </div>
            {% include "include/pagination.html" %}
        </div>   
    </div>    
    
    <script>
    
        

    </script>
{% endblock %}