<div class="card mb-4">
    <div class="row">
        <div class="col-4">
            <img class="card-img" src="dist/src/assets/image/monImage.jpg" alt="..." />
        </div>
        <div class="col-8">
            <div class="card-body">
                <h2 class="card-title">Une petite présentation s'impose ... </h2>
                <p class="card-text">
                    ¡Hola!
                    <br>
                    <br>
                    Je m'appelle Marie Claire EMMA. Mais vous pouvez m'appeler Marie. J'ai 21 ans.
                    <br>
                    <br>
                    J'ai obtenu mon baccalauréat scientifique en 2019, je me suis dans un premier temps orienté vers la petite enfance.
                    <br>
                    <br>
                    En 2020, j'ai commencé en autodidacte le développement HTML. J'ai suivi un parcours de remise à niveau dans le développement PHP avec tuto.com.
                    <br>
                    <br>
                    En 2021, je suis entrée dans la Garantie Jeune, ils m'ont permis de faire un stage à Défi-Informatique en tant que développeuse web. Suite à ce stage, ils m'ont proposé un poste en alternance en tant que développeuse web.
                    <br>
                    <br>
                    En septembre 2021, j'ai donc commencé un parcours en alternance dans le developpement PHP/Symfony avec OpenClassrooms, et en tant que développeuse web chez Défi-Informatique.
                </p>
            </div>
        </div>
    </div>
</div>