<div class="card mb-4">
    <div class="card-header">Categories</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <form action="" method="post">
                        <ul>
                            <li style="list-style-type:none;">
                                <input type="submit" value="Web Design" name="0" class="btn btn-outline text-warning">
                            </li>
                            <li style="list-style-type:none;">
                                <input type="submit" value="HTML" name="1" class="btn btn-outline text-warning">
                            </li>
                            <li style="list-style-type:none;">
                                <input type="submit" value="PHP" name="4" class="btn btn-outline text-warning">
                            </li>
                        </ul>
                    </form>
                </ul>
            </div>
            <div class="col-sm-6">
                <form action="" method="post">
                    <ul>
                        <li style="list-style-type:none;">
                            <input type="submit" value="JavaScript" name="2" class="btn btn-outline text-warning">
                        </li>
                        <li style="list-style-type:none;">
                            <input type="submit" value="CSS" name="3" class="btn btn-outline text-warning">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>