{% extends 'BaseTemplate.html.twig' %}

{% block title %}Accueil - PHP Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% include "include/nav-internaute.html" %}   
{% endblock %}
{% block header %}
    <div class="container ">
        <div class="text-center my-5 ">
            <h1 class="fw-bolder">Bienvenue sur PHP Blog!</h1>
            <p class="lead mb-0">Le développement PHP by Marie</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 mt-4">
            <div class="ms-3">
            {% include "include/horloge.html" %}
            </div>
            {# se connecter #}
            <div class="card mb-4 ms-3">
                <div class="card-header">Se connecter</div>
                {% include 'formulaire/connexion.html' %}
                <span class="text-center text-danger">
                    {{ error}}
                </span>
            </div>
            {# devenir membre #}
            <div class="card mb-4 ms-3">
                <div class="card-header">Devenir membre</div>
                {% include 'formulaire/inscription.html' %}
                <span class="text-center text-danger">
                    {{ error2 }}
                </span>
                <span class="text-center text-success">
                    {{ message }}
                </span>
            </div>
        </div>
        <div class="col-lg-8 mt-4">
            <div class="row mb-3 me-3">
                <ul class="justify-content-between" style="display:flex;">
                    <li class="me-2" style="display:inline;">
                        <a href="https://drive.google.com/file/d/1li9vYPwdMAwNeTtBflnttB0fQ1eOsKzr/view?usp=sharing">
                            <i class="fa-solid fa-file"></i>
                            Mon CV
                        </a>
                    </li>
                    <li class="me-2" style="display:inline;">
                        <a href="https://github.com/MarieClaireE">
                            <i class="fa-brands fa-github"></i>
                            GitHub
                        </a>
                    </li>
                    <li class="me-2" style="display:inline;">
                        <a href="https://www.linkedin.com/in/marie-claire-emma/">
                            <i class="fa-brands fa-linkedin"></i>
                            LinkedIn
                        </a>
                    </li>
                    <li class="me-2" style="display:inline;">
                        <a href="https://twitter.com/MarieClaireEmm2">
                            <i class="fa-brands fa-twitter"></i>
                            Twitter
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row me-3">
                {% include "include/about-me.html" %}
            </div>
        </div>   
    </div>   
    

{% endblock %}
