{% extends 'BaseTemplate.html.twig' %}

{% block title %}Gestion du compte de {{ nom|capitalize}} {{ prenom|capitalize }} - PHP Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% include "include/nav-users.html" %}   
{% endblock %}
{% block header %}
    <div class="text-center my-5">
        <h1 class="fw-bolder">{{ nom|capitalize }} {{ prenom|capitalize}} </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 mt-4">
            <div class="ms-3 mb-3">
            {% include "include/horloge.html" %}
            </div>
        </div>
        <div class="col-lg-8 mt-4">
            <div class="row me-3"> 
                <div class="card py-2">
                    <form action="" method="post">
                        <div class="input-group px-2 mb-2">
                            <span class="input-group-text" id="nom"> 
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" name="nom" class="form-control" value="{{ nom }}" aria-describedby="nom">
                        </div>
                        <div class="input-group px-2 mb-2">
                            <span class="input-group-text" id="prenom">
                                <i class="fa fa-user"></i>                               
                            </span>
                            <input type="text" name="prenom" class="form-control" value="{{ prenom }}" aria-describedby="prenom">
                        </div>
                        <div class="input-group px-2 mb-2">
                            <span class="input-group-text" id="email">
                                @                           
                            </span>
                            <input type="email" name="email" class="form-control" value="{{ email }}" aria-describedby="email">
                        </div>
                        <div class="input-group px-2 mb-2">
                            <span class="input-group-text" id="mdp">
                                <i class="fa-solid fa-key"></i>                         
                            </span>
                            <input type="password" id="password" name="password" class="form-control" value="{{ pass }}" aria-describedby="mdp">
                            <button id="eye" type="button" title="Masquer/démasquer" style="position:absolute;right:50px;border:none;" class="bg-white mt-2"> 
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </div>
                        <div class="input-group px-2 mb-2">
                            <input type="submit" value="Modifier" name="update" class="btn btn-info w-100">
                        </div>
                    </form>
                    {{ message }}
                    <script>
                        document.getElementById("eye").addEventListener("click", function(e) {
                            if (password.getAttribute("type")=="password")
                            {
                                password.setAttribute("type","text")
                            } else
                            {
                                password.setAttribute("type", "password")
                            }
                        })
                    </script>
                </div>
            </div>
        </div>   
    </div>     
{% endblock %}



