{% extends 'BaseTemplate.html.twig' %}

{% block title %}Accueil - PHP Blog{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block nav %}
    {% include "include/nav-users.html" %}   
{% endblock %}
{% block header %}
    <div class="text-center my-5">
        <h1 class="fw-bolder"> {{ nom|capitalize }} {{ prenom|capitalize}} </h1>
        <p class="lead mb-0">
            Bienvenue sur TA partie du Blog, ici tu vas pouvoir faire ce que les autres utilisateurs ne peuvent pas : 
            <span class="badge bg-secondary">Commenter</span>. Donc si tu as des remarques ou des questions sur les posts n'hésite pas à utiliser l'espace commentaire.
            Et si tu as besoins de plus d'info, n'hésite pas à revenir vers moi dans la partie 
            <span class="badge bg-secondary">Contact</span>
        </p>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 mt-4">
            <div class="ms-3 mb-3">
            {% include "include/horloge.html" %}
            </div>
        </div>
        <div class="col-lg-8 mt-4">
            <div class="row me-3">
                {% include "users/list-posts.html" %}   
            </div>
            {% include "include/pagination.html" %}
        </div>   
    </div>     
{% endblock %}